IMAGE_TAG=dev

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me-postgres
POSTGRES_PORT=5432

USER_SERVICE_PORT=8081
USER_DB_URL=jdbc:postgresql://postgres:5432/users_db
USER_DB_USERNAME=user_svc
USER_DB_PASSWORD=change-me-user

FINANCE_DB_PASSWORD=change-me-finance
